.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

body {
  background-image: url("/themes/ross_sat/assets/images/brickwall.png");
  background-repeat: repeat;
}

.jumbotron{
    min-height: 780px;
    color: white;
}

.jumbotron-link a{
  background: rgba(203, 26, 26, 0.75);
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  color:#fff;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}

@media screen and (max-width: 500px) {
    .jumbotron-link a{
      font-size: 14px;
    }
}