/* Topper Styling */

.topper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Navbar fix */

.navbar-right {
    margin-right: 0px;
}

header {
  background-color: white;
}


.topper-phone{
  font-size: 22px;
}

.img-topper{
  max-height: 145px;
  width: auto;
}

.navbar{
  margin-bottom: 0px;
}